<settings>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.host.url>
                    http://localhost:9000
                </sonar.host.url>
                <sonar.token>sqp_04aac302fff01ca77809c6cf31ef6806891bf8f3
                </sonar.token>
            </properties>
        </profile>
    </profiles>
</settings>