<settings>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.host.url>
                    http://localhost:9000
                </sonar.host.url>
                <sonar.token>sqp_55156e1f2d0d7d9e118f1a97a49c818f37eaca02
                </sonar.token>
            </properties>
        </profile>
    </profiles>
</settings>